<% die1 = rand 1..6 %>
<% die2 = rand 1..6 %>
<% total = die1 + die2 %>

<p>Your first die produced <%= die1 %> </p>
<p>Your second die produced <%= die2 %> </p>
<h1>Therefore, your total is <%= total %></h1>