<h1>Contacts</h1>

<% contacts = Contact.all %>
<% companies = Company.all %>

<p>There are <%= contacts.count %> contacts</p>

<ul>
<% for contact in contacts %>
<li> <%= contact["first_name"] %> <%= contact["last_name"] %>, <% comp = Company.find_by({"id" => contact["company_id"]})%> <%= comp["name"] %>   </li>
<% end %> 

</ul>