<h1>Tacos</h1>
<p>Let's eat delish tacos!</p>
<p> heck </p>

<% tacos = ["Carnitas" , "Veggie" , "Shrimp", "Mushroom"] %>

<p>There are <%= tacos.count %> tacos!</p>

<ul>
  <% for taco in tacos %>
  <li><%= taco %></li>
  <% end %>
</ul>